.poll-container {
    width: 35rem;
    padding: 20px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}

.poll-heading {
    margin-bottom: 10px;
    font-size: calc(13px + 0.3rem);
    font-weight: 900;
}

label {
    padding: 10px 0;
    /* Flex align items */
    display: flex;
    align-items: center;
}
.radio-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/*  */
input[type="radio"] {
    /* Hides default radio button  */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 1px solid lightgrey;
    cursor: pointer;
    margin-right: 15px;
}

input[type="radio"]:checked::before {
    /* Adds the custom check inside the radio button  */
    content: "✔";
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
}
/*  */

.vote-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    transform: translate(10px, 10px);
}

.poll-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
