.responses-container {
    width: 35rem;
    padding: 20px;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}

.responses-heading {
    margin-bottom: 10px;
    font-size: calc(13px + 0.3rem);
    font-weight: 900;
}

span {
    margin-right: 10px;
}

.results-list {
    list-style-type: none;
    padding-left: 0px;
}